/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.abs {
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
     color: lightblue;
}

body {
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0px 0px;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100%;
    max-height: 100%;
    height: 100vh;
}

.input_video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.input_video.selfie {
     transform: scale(-1, 1);
}

.input_image {
    position: absolute;
}

.canvas-container {
    display:flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items:center;
}

.output_canvas {
    width: 100%;
    display: block;
    position: relative;
    height: 100%;
    z-index: 0;
}

.video_output_canvas {
    max-width: 20%;
    display: block;
    position: absolute;
    top: 30px;
    left: 50px;
    background: #3d3d3d;
    opacity: 0.8;
    z-index: 1;
}

.control-panel {
    position: absolute;
    right: 150px;
    top: 10px;
}

.loading {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    backface-visibility: hidden;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
}

.message {
    font-size: x-large;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 10;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dark-primary-color    { background: #512DA8; }
.default-primary-color { background: #673AB7; }
.light-primary-color   { background: #D1C4E9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
